{% extends 'forms_app/layout.html' %}
{% load static %}
{% block title %} Form templates {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<ul>
    {% for formTemplate in formTemplates %}
    <li>
        {{formTemplate}}
        <a class="btn btn-primary" href="{% url 'forms_app:formTemplate' formTemplate.id %}">edit</a>
        <a class="btn btn-primary" href="{% url 'forms_app:form' formTemplate.id %}">fill</a>

    </li>
    {% endfor %}
</ul>
<form action=" {% url 'forms_app:index' %}" method="post">
    {% csrf_token %}

    {{ form|crispy }}

    <input class="btn btn-primary" name="action" type="submit" value="Save">
    <input onclick="return get_confirmation();" class="btn btn-danger" name="action" type="submit" value="Delete">


</form>
{% endblock %}