{% extends 'forms_app/layout.html' %}
{% load static %}
{% block title %} !!Form template {% endblock %}
{% block content %}
{% load crispy_forms_tags %}


<h2>
    {{formTemplate.name}}
    {% for field in formTemplate.fields.all %}
    <li>
        {{field}}
        <a class="btn btn-primary" href="{% url 'forms_app:formTemplate' formTemplate.id %}">delete</a>
    </li>
    {% endfor %}
</h2>
<form action=" {% url 'forms_app:index' %}" method="post">
    {% csrf_token %}

    {{ form|crispy }}
    <input class="btn btn-primary" name="action" type="submit" value="Save">
    <input onclick="return get_confirmation();" class="btn btn-danger" name="action" type="submit" value="Delete">


</form>
{% endblock %}